* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
body {
    background-color: rgba(6, 57, 99, 0.479);
}
main {
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}
img.title {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}
img.side {
    float: right;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}